COUPANG_ACCESS_KEY=your_coupang_access_key
COUPANG_SECRET_KEY=your_coupang_secret_key
DOMEGGOOK_API_KEY_1=your_domeggook_api_key_1
OWNERCLAN_USERNAME=your_ownerclan_username
OWNERCLAN_PASSWORD=your_ownerclan_password

POSTGRES_ENABLED=false
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=product_data_collector
POSTGRES_USER=collector
POSTGRES_PASSWORD=replace_with_local_password
